<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Display</title>
</head>

<body>
    <h1>All Users</h1>
    <table class="table table_striped">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td>
                <a href="/display/{{user.id}}">Show |</a>
                <a href="/display/{{user.id}}/edit">Edit |</a>
                <a href="/display/{{user.id}}/delete"> Delete</a>
            </td>
        </tr>
        {%endfor%}
    </table>
    <a href="/">Add a New User</a>
</body>
</html>