<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>counter</title>
</head>
<body>
    <h1>Counter</h1>
    <h2>{{session["num"]}} time</h2>
    <div class="bnt">
        <a class="Add" href="/">Add visits!</a>
        <a class="reset" href="/destroy_session" >Reset</a>
        <a class="Add" href="/two">Add two visits!</a>
    </div>
</body>
</html>