<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>OneUser</title>
</head>

<body>
    <div class= "container">
        <div class="navbar">
            <H1>Add a New User</H1>
            <a href="/display">Home</a>
        </div>
        <div class="user_card">
            <h4>Full Name:  {{user.first_name}} {{user.last_name}}</h4>
            <h4>Email:  {{user.email}}</h4>
            <h4>Created On:  {{user.created_at}}</h4>
            <h4>Last Updated On:  {{user.updated_at}}</h4>
        </div>
        <h4>
            <a href="/display/{{user.id}}/edit">Edit</a>  |  <a href="/display/{{user.id}}/delete">Delete</a>
        </h4>
    </div>

</body>
</html>