<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    body {
        margin: 10%;
        display: flex;
        justify-content: space-around;

    }
    .box1{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .dojos_list{
        border: 2px solid black;
    }
</style>
<body>
    <div>
        <h2>New Dojo</h2>
        <form action="/dojo" method="post">
            <div class="form-group">
                <label for="">Name:</label>
                <input type="text" class="form-control" name="dojo_name">
            </div>
            <button class="btn btn-primary">Create</button>
        </form>
    </div>
    <div>

        <div class="box1">
            <h2>All Dojos</h2>
            <div class="dojos_list">
                {% for dojo in all_dojos %}
                <ul class="list-group list-group-flush">
                    <a href="/dojos/{{dojo.id}}/show">{{dojo.dojo_name}}</a>
                </ul>
                {% endfor %}
            </div>
        </div>
        <a href="/ninjas">Add Ninja</a>
    </div>
</body>
</html>